include README.md
include LICENSE
include requirements.txt
recursive-include src/plot_digitizer *.py
recursive-include docs *.md *.puml
recursive-exclude * __pycache__
recursive-exclude * *.py[co]
recursive-exclude * *.orig
recursive-exclude * *.rej
recursive-exclude * .DS_Store
